@chasert "utf-8";

html{
    height: 100%;
}
body{
    height: 100%;
    background: linear-gradient(#3C4767, 80%, #b22222);
    overflow-y: hidden;
}
/* .logout_container{
    width: 100px;
    margin: 0 auto;
} */
header h1{
    width: 200px;
    margin: 0 auto;
    padding-top: 200px;
}
header p{
    margin: 0 auto;
    font-size: 1.5rem;
    color: #fff;
    width: 300px;
    text-align: center;
}
/* style.cssのところにも記述あるのでどうするか検討 */
#container{
    width: 300px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
}
.login_page{
    color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
    padding: 30px 30px 10px 30px;
    margin-top: 50px;
}
.login_page .login_title{
    margin-bottom: 30px;
}
.login_page form label{
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.login_page form input.input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.login_page p a{
    color: #fff;
}
