@charset "utf-8";
html{
}
body{
}


/* ログイン後のトップページ */
/* header */
header{
    background:#3C4767;
}
#container{
    color: #fff;
}

/* 共通部分ここから */
#head,
#row{
    width: 90%;
    margin: 0 auto;
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}

#container{
    flex: 0 0 80%;
    color: #696969;
}

#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #6C6C6C;
    color: #696969;
}

.profile_icon{
    border-radius: 55px;
}

/* 右側カラム */
#confirm p:first-child{
    margin-top: 15px;
}

#confirm p{
    margin-bottom: 15px;
}

.btn{
    text-align: center;
}

#confirm .btn{
    text-align: right;
}

.btn a{
    display: inline-block;
    text-align: center;
    padding: 20px 0;
    width: 150px;
    background-color: #3C4767;
    color: white;
    border-radius: 10px;
}

/* 共通部分ここまで */

/* header部部分のflexbox */
#head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}
.menu{
    flex-basis: 20%;
}

/* アコーディオンメニュー */
.menu {
    width: 100%;
    padding: 10px;
}
.menu input {
    display: none; /*チェックボックスを隠す*/
}
.menu_label{
    cursor :pointer;
    display: block;
    text-decoration: none;
    color: #fff;
    line-height: 1;
    position: relative;
    background-color: #3C4767;
    vertical-align: middle;
    height: 55px;
}
.menu_label p{
    position: absolute;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
    -webkit- transform: translateY(-50%);
    left: 0;
    margin: auto;
    padding-right: 10px;
}
.menu_label img{
    vertical-align: middle;
    position: absolute;
    right: 0;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 1px;
}
.menu li {
    height: 0;
    overflow-y: hidden;
    transition: padding-bottom 0.5s, padding-top 0.5s; /*閉じるときのアニメーション*/
    -webkit-transition: padding-bottom 0.5s, padding-top 0.5s
    -moz-transition: padding-bottom 0.5s, padding-top 0.5s;
    -ms-transition: padding-bottom 0.5s, padding-top 0.5s;
    -o-transition: padding-bottom 0.5s, padding-top 0.5s;
}
.menu li a{
    display: block;
    color: black;
    text-align: center;
    padding: 10px 0;
}
#links li a:hover{
    background-color: #ff4500;
}
#menu_bar:checked ~ #links li {
  height: auto; /*開いたときに表示されるliの高さ*/
  opacity: 1;
  background: #f1f1f1;
  padding: 10px;
}
 /*開いたときの下の余白*/
#menu_bar:checked ~ #links li:last-child {
  margin-bottom: 20px;
}
/* 閉じている時の矢印 */
.menu_label span:after{
    content:"";
    display:block;
    width:8px;
    height:8px;
    border-top: #fff 2px solid;
    border-right: #fff 2px solid;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    position:absolute;
    right: 40%;
    top: 0;
    bottom: 15%;
    margin: auto;
}
/*開いている時の矢印*/
.menu input[type=checkbox]:checked + .menu_label span:after{
  content:"";
  display:block;
  width:8px;
  height:8px;
  border-top: #fff 2px solid;
  border-right: #fff 2px solid;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position:absolute;
  right: 40%;
  top: 7%;
  bottom: 0;
  margin: auto;
}

/* ホーム画面ここから */

/* 新規ツイート */
.new_tweet{
    margin-bottom: 30px;
}

.tweet{
    width: 90%;
    height: 80px;
    vertical-align: top;
}

.tweet_submit_button{
    vertical-align: bottom;
}

/* タイムライン */
.all_tweets{
    margin-bottom: 30px;
}

/* ツイート更新 */
.tweet_update_wrap{
    text-align: right;
    margin-right: 30px;
}

.edit_button{
    margin-right: 20px;
}

.trash_button{
    position: relative;
}

.trash_button .active{
    position: absolute;
    left: 0;
    top: -40px;
    opacity: 0;
    transition: .2s;
}

.trash_button:hover .active{
    opacity: 1;
}
/* ホーム画面ここまで */
